
/* font-family: 'Gloock',
serif;
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif;
font-family: 'Shantell Sans',
cursive;  */


*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
a { display: inline-block;
list-style: none;
text-decoration: none;}
ul,
ol {
    padding: 0;
    list-style: none;
}

body {
    padding-top: 20px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Shantell Sans';
 padding-top: 40px;
 padding-bottom: 45px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.logo {
    margin-right: 20px;

}
.imgLogo {
    width: 200px;
    height: 220px;
    border-radius: 50%;
}


.headerStyle {
    display: flex;
}
.navigation {
    display: flex;
    align-items: center;
}

.navigationItem {
    font-size:24px;
    color: rgb(237, 253, 11);
}
.navigationItem:nth-child(2) {
    color: blue;
}
.navigationItem:nth-child(3) {
    color: rebeccapurple;
}

.navigationItem:not(:last-child) {
    margin-right: 20px ;
}
.navItemLink {
    color: inherit;
    transition: font-size 2s;
}

.navItemLink:hover {
color: white;
font-size: 40px;
}

.imgHeader {
width: 300px;
height: 200px;
border-radius: 50%;
}

.mainText
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 100px;
    color: rgba(241, 241, 241, 0);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.005);
    display: flex;
    flex-wrap: wrap;
}

/* footer text
*/
.footerText {
font-size: 30px;
color: greenyellow
}
.footer {
    padding-top: 35px;
    padding-bottom: 10px;
border-top: 5px dashed rgb(162, 0, 255);
border-top-left-radius: 35%;
}
.footerMargin {
    margin-bottom: 20px;
}

.e2 {
    margin-right: 23px;
}

.hoverClick {
    display: inline-block;
    color: blanchedalmond;
    font-size: 20px;
    border: 2px solid gray;
    padding: 15px;
    border-radius: 15px;
}
.hoverClick:hover {
cursor: none;

}

.e1:nth-child(1) {
    transform: scale(0.5);
    transform: translateX(2100px);
}
.e1:nth-child(2) {
    transform: scale(0.5);
    transform: translateY(2100px);
}
.e1:nth-child(3) {
    transform: scale(0.1);
    transform: translateX(2100px);
    transform: rotate(960deg);
}
.e1:nth-child(4) {
    transform: scale(0.1);
    transform: translateZ(1100px);
}
.e1:nth-child(5) {
    transform: scale(0.1);
    transform: translateX(-100px);
}
.e1:nth-child(6) {
    transform: scale(5);
    transform: translateY(2100px);
}
.e1:nth-child(7) {
    transform: scale(2);
    transform: translateX(2100px);
    transform: rotate(960deg);
}
.e1:nth-child(8) {
    transform: scale(1);
    transform: translateY(2100px);
    transform: rotate(60deg);
}
.e1:nth-child(9) {
    transform: scale(3);
    transform: translateX(2100px);
    transform: perspective(200px);
}
.e1:nth-child(10) {
    transform: scale(4);
    transform: translateX(2100px);
    transform: rotate(960deg);
}
.e1:nth-child(11) {
    transform: scale(0.1);
}
.e1:nth-child(12) {
    transform: scale(0.1);
    transform: translateX(-2100px);
}
.e1:nth-child(13) {
    transform: scale(0.1);
    transform: translateX(2100px);
    transform: rotate(15deg);
}
.e1:nth-child(14) {
    transform: scale(0.1);
    transform: translateX(2100px);
    transform: rotate(45deg);
}
.e1:nth-child(15) {
    transform: scale(0.1);
    transform: rotate(12deg);
}
.e1:nth-child(16) {
    transform: scale(0.1);
    transform: translateX(2100px);
    transform: rotate(-40deg);
}

/* hover effect's */

.e1 {
transition: color, transform;
transition-duration: 1000ms, 1000ms;
}

.hoverClick:hover + .mainText .e1:nth-child(1) {
    color: red;
    transform: scale(1);
    transition-delay: 1000ms, 1000ms ;
    transition-timing-function: linear, linear;
}
.hoverClick:hover + .mainText .e1:nth-child(2) {
    color: rgb(255, 255, 0);
    transform: none;
    transition-delay: 1500ms, 1500ms;
    transition-duration: 1000ms, 1000ms;
        transition-timing-function: linear;
}
.hoverClick:hover+.mainText .e1:nth-child(3){
    color: rgb(29, 151, 35);
        transition-delay: 2000ms;
        transition-duration: 2500ms, 2500ms;
        transform: none;
            transition-timing-function: linear;
}
.hoverClick:hover+.mainText .e1:nth-child(4) {
    color: rgb(43, 255, 0);
        transition-delay: 2500ms;
        transition-duration: 3500ms, 3500ms;
        transform: none;
        transition-timing-function: linear;
}
.hoverClick:hover+.mainText .e1:nth-child(5){
    color: rgb(0, 255, 217);
    transition-delay: 3000ms;
    transition-duration: 4000ms, 4000ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(6){
    color: rgb(0, 187, 255);
        transition-delay: 3500ms;
transition-duration: 4500ms, 4500ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(7) {
    color: rgb(0, 106, 255);
    transition-delay: 4000ms;
    transition-duration: 5000ms, 5000ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(8){
    color: rgb(0, 26, 255);
    transition-delay: 4500ms;
    transition-duration: 5500ms, 5500ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(9){
    color: rgb(255, 0, 247);
        transition-delay: 4500ms;
transition-duration: 5500ms, 5500ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(10){
    color: rgb(255, 179, 0);
    transition-delay: 4000ms;
    transition-duration: 5000ms, 5000ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(11){
    color: rgb(255, 0, 76);
    transition-delay: 3000ms;
    transition-duration: 4000ms, 4000ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(12){
    color: rgb(112, 120, 45);
            transition-delay: 3000ms;
    transition-duration: 4000ms, 4000ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(13) {
    color: rgba(237, 255, 244, 0.179);
            transition-delay: 2500ms;
        transition-duration: 3500ms, 3500ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(14){
    color: rgb(255, 0, 0);
        transition-delay: 2000ms;
    transition-duration: 3000ms, 3000ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(15) {
    color: rgb(0, 255, 110);
    transition-delay: 1500ms;
        transition-duration: 2500ms, 2500ms;
        transition-timing-function: linear;
            transform: none;
}
.hoverClick:hover+.mainText .e1:nth-child(16) {
    color: rgb(60, 0, 255);
        transition-duration: 2000ms, 2000ms;
    transition-delay: 1000ms;
        transition-timing-function: linear;
            transform: none;
}


/* next1 page*/

.navItemLink--underline {
text-decoration: underline;
font-size: 40px;
text-align: center;
color: white;
}
.is-hiddenOnEye {
position: absolute;
top: 100px;
opacity: 0;
}
.s2flex {
    display: flex;
    justify-content: space-between;
}

.p2style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p2style:first-child {
margin-right: 20px;
}
.text {
    color: white;
    text-align: center;
    font-size: 25px;
}
.text:not(:last-child) {
    margin-bottom: 5px;
}

.p2s1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* next2.html */

.titlehero {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: brown;
    font-weight: 600;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding-bottom: 40px;
}

.imgGallery {
    width: calc(100%/3 - 30px);
    height: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(237, 255, 244, 0.179);
}

.text3 {
    text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
        color: brown;
        font-weight: 600;
        margin-top: 40px;
}